.canvas {
  background-color: rgb(224, 219, 219);
  border-radius: 15px;
  box-shadow: 0 8px 10px rgba(50, 50, 93, 0.11), 0 5px 8px rgba(0, 0, 0, 0.08);
  height: 96%;
  width: 100%;
  margin-top: 2%;
}

.roomTitle {
  position: absolute;
  top: 1%;
  left: 1%;
}

.start {
  display: flex;
  position: absolute;
  top: 1%;
  left: 0;
  width: 100%;
  justify-content: center;
}

.chatContainerL {
  position: absolute;
  z-index: 100;
  top: 10%;
  left: 0;
  width: 50%;
}

.chatContainerR {
  position: absolute;
  z-index: 100;
  top: 10%;
  right: 0;
  width: 50%;
}

.usersL {
  list-style-type: none;
  padding-left: -14px;
  -webkit-padding-start: 0px;
}

.usersR {
  list-style-type: none;
  padding-right: -14px;
  text-align: right;
}