.canvas {
  border-radius: 15px;
  height: 100%;
  width: 100%;
}

.topBtnDiv {
  display: flex;
  position: absolute;
  top: 1%;
  width: 100%;
  justify-content: left;
}

.topBtnDiv .tool {
  margin-left: 5px;
}
.chatContainerL {
  position: absolute;
  z-index: 100;
  top: 10%;
  left: 0;
  width: 50%;
}

.chatContainerR {
  position: absolute;
  z-index: 100;
  top: 10%;
  right: 0;
  width: 50%;
}

.usersL {
  list-style-type: none;
  padding-left: -14px;
  -webkit-padding-start: 0px;
}

.usersR {
  list-style-type: none;
  padding-right: -14px;
  text-align: right;
}